@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
	-webkit-user-drag: none;
	background-color: #f6f9ff;
}

.ant-tabs-nav-wrap {
	display: flex;
	justify-content: center;
}
.ant-tabs-nav-list {
	display: flex;
	flex-direction: row;
}

@media (max-width: 768px) {
	.ant-tabs-nav-list {
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;
	}
}
