@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Nunito', sans-serif;
	user-select: none;
	-webkit-user-drag: none;
	overflow-x: hidden;
}

html,
body,
.ant-layout {
	background-color: #f6f9ff !important;
}

.animated-column {
	transition: width 0.3s ease !important;
}
.ant-btn,
.ant-menu,
.ant-menu-item,
.ant-tabs-nav,
.ant-tabs-tab-btn {
	font-family: 'Nunito', sans-serif !important;
}

.loading:hover {
	cursor: not-allowed !important;
}

.custom-btn:hover {
	background-color: #274d8d !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
textarea,
button {
	font-family: 'Nunito', sans-serif;
}

html,
body {
	width: 100%;
}
.ant-tabs-nav-wrap {
	display: flex;
	justify-content: center;
}

.ant-tabs-nav-list {
	display: flex;
	flex-direction: row;
}

@media (max-width: 768px) {
	.ant-tabs-nav-list {
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;
	}

	.md\:w-64 {
		width: 10rem;
	}

	.ant-menu {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}

	.ant-menu-item {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}

@media (max-width: 1920px) {
	.fixed {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 250px;
		z-index: 1000;
	}

	.inset-0 {
		left: 0;
		top: 0;
	}
}

.custom-menu .ant-menu-item,
.custom-menu .ant-menu-submenu-title {
	color: #012970 !important;
	font-weight: 600; /* Делаем текст жирнее */
}

.custom-menu .ant-menu-item:hover,
.custom-menu .ant-menu-submenu-title:hover {
	color: #4154f1 !important;
}

/* My Stores и General — без жирности */
.custom-menu .ant-menu-submenu-title {
	font-weight: 500 !important;
}

/* Дочерние элементы (children) — жирные */
.custom-menu .ant-menu-submenu .ant-menu-item {
	font-weight: 600 !important; /* Делаем жирными */
	font-size: 14px !important; /* Чуть меньше */
}

.test {
	box-shadow: 1px 1px 1px 1px;
}

.rc-virtual-list-holder-inner {
	will-change: transform;
}
.ant-btn-icon,
.ant-btn-loading-icon {
	display: flex;
	align-items: center;
}

.custom-menu .ant-menu-item-disabled {
	color: #919191 !important;
}
.custom-menu .ant-menu-item-disabled:hover {
	color: #6e6e6e !important;
}
